<header>
	<span class="header-logo">
		<a href="https://www.armbian.com/" target="_blank" rel="noopener">
			<img src="https://tearran.github.io/configng-v2/media_kit/dist/images/scalable/armbian_social.svg"
				alt="armbian-tux_v1.5.svg"><img
				src="https://tearran.github.io/configng-v2/media_kit/dist/images/scalable/armbian_font.v2.1.svg"
				alt="armbian_font.v2.1.svg">
		</a>
	</span>

	<!-- Navigation -->
	<nav class="nav-bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="./media_kit.html">Media Kit</a></li>
			<li><a href="./docs.html">Documentation</a></li>
			<li><a href="#" id="dark-mode-toggle">🌙</a></li>
		</ul>
	</nav>
</header>